body {
    background-image: linear-gradient(90deg, #17BEBB, #00A56E, #0197F6);

}

#startButton {
    text-align: center;
    border: white solid 2px;
    background-color: red;
    color: black;
    padding: 25px;
}

#div {
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
}

.stats {
    /* float: left; */
    text-align: center;
    margin: 0 auto;
}

.title {
    text-align: center;
}
.pet {
    text-align: center;
    background-color: white;
    max-width: 40%;
    margin: 0 auto;
    border-radius: 20%;
    height: 200px;
}
.pet2 {
    text-align: center;
    background-color: black;
    max-width: 40%;
    margin: 0 auto;
    border-radius: 20%;
    height: 200px;
}

#ghost {
    /* position: absolute; */
    /* top: -40%; */
    /* left: 0px; */
    max-width: 100px;
    animation-name: dance;
    animation-duration: 3s;
    padding: 50px 0;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes dance{
    /* from{ transform: translateX(0)} */
    /* to{ transform: translateX(500px)} */
    0% {left: 0px; top: 0px}
    25% {left: 50px; top: 0px}
    50% {left: 50px; top: 25px}
    75% {left: -50px; top: 25px}
    100% {left: 0px; top: 0px}

}

button {
    border: white solid 2px;
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    width: 200px;

}

.controls {
    text-align: center;
}

.interactive{
    visibility: hidden;
}

.interactive2{
    visibility: visible;
}


