body {
    /* background-image: linear-gradient(90deg, #5381cc, #12147b, #000000); */
    background-image: linear-gradient(90deg, #004191, #1c4e81, #000000);
    color: #fff301;

}

#startButton {
    text-align: center;
    border: white solid 2px;
    background-color: black;
    color: #fff301;
    margin: 100px auto;
    padding: 25px;
    max-width: 40%;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    border-radius: 40%;
}

.instructions {
    max-width: 40%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Happy Monkey', cursive;
}

h2 {
    text-align: center;
}

.bars {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 0 auto;
}

#div {
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
}

.stats {
    /* float: left; */
    text-align: center;
    margin: 0 auto;
    font-family: 'Rock Salt', cursive;

}

.title {
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 20px;
}
.pet {
    text-align: center;
    background-color: white;
    max-width: 40%;
    margin: 0 auto;
    border-radius: 20%;
    height: 200px;
}
.pet2 {
    text-align: center;
    background-color: black;
    max-width: 40%;
    margin: 0 auto;
    border-radius: 20%;
    height: 200px;
}

#ghost {
    max-width: 100px;
    animation-name: dance;
    animation-duration: 3s;
    padding: 20px 0;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes dance{
    /* from{ transform: translateX(0)} */
    /* to{ transform: translateX(500px)} */
    0% {left: 0px; top: 0px}
    25% {left: 50px; top: 0px}
    50% {left: 50px; top: 25px}
    75% {left: -50px; top: 25px}
    100% {left: 0px; top: 0px}

}

button {
    border: white solid 2px;
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    border-radius: 10%;



}

.controls {
    text-align: center;
}

.interactive{
    visibility: hidden;
}

.interactive2{
    visibility: visible;
}


