body {
    background-image: linear-gradient(90deg, #17BEBB, #00A56E, #0197F6);

}

#startButton {
    text-align: center;
    border: white solid 2px;
    background-color: red;
    color: black;
    padding: 25px;
}

#div {
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
}

.stats {
    /* float: left; */
    text-align: center;
    margin: 0 auto;
}

#pet {
    text-align: center;
}
#ghost {
    max-width: 100px;
}

button {
    border: white solid 2px;
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    width: 200px;

}

.controls {
    text-align: center;
}

.interactive{
    visibility: hidden;
}

.interactive2{
    visibility: visible;
}
